input{
    font-size: 16px;
    border: 1px solid black;
    margin-top: 5px;
    padding: 4px 10px;
    display: block;
    width: 15%;
}

button{
    background-color: lightgreen;
    color: black;
    font-size: 16px;
    padding: 4px 10px;
    margin-top: 10px;
    border: 1px solid black;
    -webkit-appearance: "none";
}


.error {
    color: #FF0000;
    font-size: 16px;
}

